:root {
  --background: #1a54ae;
  --foreground: #fff;
  --highlight: #000;
  --red: #ff8802;
  --reallyred: #eb0c00;
  --silver: #000;
}

a, body {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAAAAAAAFAgIPAwMCAABgS0V6BgeYc2YwDw4CAACnBgTOBQPgjX/pPDPqBwX6v6q4n1R8AAAACXRSTlMDNGqn4/j7/f4OkZeDAAAA5klEQVQoU2MQUoIARQYo0JwJAZNwC0wtB4NSYwGowPT/YPB1Ck6BaXdB4DySwDsQuI8ucOeoC7LA2/MVTYIMyAL/KxHuAAucKQ1CUQEy1AWfLa+y3t05HqqkABfYMWPfuzf/Ix2xCwgpp6UlKaete3u3vNgILMI8c6Yjo2feu3fnT0yGCLi4ODK6ZO+DCzAKCgowCFp0vbt757gxxCKY2e//zDSAC6i47X735k+HoQBMgFG4Yx3Q0yVOcCXMM9eheJqByThr3dszxYYMCGDZ/QrJUGwCymZpSO4AAZHJDKgAQ4AJlCQA3s6lAqbH0sgAAAAASUVORK5CYII=), auto!important;
}

body {
  background-color: var(--background);
  background-image: none;
  color: var(--foreground);
  font-family: 'Topaz';
}

body::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  content: '';
  display: block;
  min-height: 100vh;
  min-width: 100vw;
  pointer-events: none;
  position: fixed;
  z-index: 5;
  /* CRT effect inspired by http://aleclownes.com/2017/02/01/crt-display.html */
}

.bg-silver {
  background-color: var(--highlight);
}

.bg-white {
  background-color: var(--background);
}

.black {
  color: var(--foreground);
}

.btn:hover {
  cursor: inherit;
}

.border-silver {
  border-color: var(--highlight);
}

.toolbox:not(:hover) .icon-wrapper {
  border-color: var(--highlight)!important;
}

@font-face {
  font-display: fallback;
  font-family: 'Topaz';
  font-style: normal;
  font-weight: 400;
  src: local('TopazPlus a500a1000a2000'),
    url('/static/fonts/TopazPlusa500v10.woff2') format('woff2'),
    url('/static/fonts/TopazPlusa500v10.woff') format('woff');
}
